.book-container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  padding: 0 5px;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
  width: 1014px;
  border: 1px solid teal;
  border-radius: 10px;
  overflow: hidden;
}

.book:nth-child(2n) {
  flex-direction: row-reverse;
}

.cover {
  height: 480px;
  background-size: cover;
}

img {
  width: 320px;
  height: 480px;
  flex: 2;
  object-fit: cover;
}

.bookInfo {
  height: 480px;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}

.bookTitle {
  font-size: 30px;
  font-weight: bold;
  color: rgb(2, 85, 85);
}

.bookDesc {
  font-size: 18px;
  text-align: center;
  color: rgb(2, 85, 85);
}

.bookAuthor {
  font-size: 20px;
  font-weight: 300;
  color: rgb(2, 85, 85);
}

.bookAuthor span {
  font-weight: bold;
  color: teal;
}

.bookUploader {
  font-size: 20px;
  font-weight: 300;
  color: rgb(2, 85, 85);
}

.bookUploader span {
  font-weight: bold;
  color: teal;
}

.bookButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bookLink {
  text-decoration: none;
  color: white;
  background-color: teal;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.bookLink:hover {
  background-color: #00bfa6;
}

.agotime {
  font-size: 18px;
  font-weight: 300;
  color: rgb(2, 85, 85);
}

.agotime span {
  color: teal;
  font-weight: bold;
}

.totalBooks {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  color: rgb(2, 85, 85);
}

.totalBooks span {
  color: teal;
  font-weight: bold;
}

/* Media Query for 1024px */
@media (max-width: 1024px) {
  .book-container {
    max-width: 1024px;
  }

  .book {
    width: 758px;
  }

  .bookTitle {
    font-size: 24px;
  }

  .bookDesc {
    font-size: 16px;
  }

  .bookAuthor {
    font-size: 18px;
  }

  .bookUploader {
    font-size: 18px;
  }

  .bookLink {
    font-size: 16px;
  }

  .agotime {
    font-size: 16px;
  }
}

/* Media Query for 768px */
@media (max-width: 768px) {
  .book-container {
    max-width: 768px;
  }
  .book {
    flex-direction: column;
    width: 100%;
  }

  .book:nth-child(2n) {
    flex-direction: column;
  }

  .cover {
    height: 320px;
  }

  img {
    width: 480px;
    height: 320px;
    background-size: cover;
  }

  .bookInfo {
    height: 320px;
  }
  .bookTitle {
    font-size: 20px;
  }
  .bookDesc {
    font-size: 18px;
  }

  .bookAuthor {
    font-size: 16px;
  }

  .bookUploader {
    font-size: 16px;
  }

  .bookLink {
    font-size: 16px;
  }

  .agotime {
    font-size: 14px;
  }
  .bookButtons {
    margin-bottom: 10px;
  }
}

/* Media Query for 480px */
@media (max-width: 480px) {
  .book-container {
    max-width: 320px;
  }
  .book {
    flex-direction: column;
    width: 100%;
  }

  .book:nth-child(2n) {
    flex-direction: column;
  }

  .cover {
    height: 320px;
  }

  img {
    height: 320px;
    background-size: cover;
  }

  .bookInfo {
    height: 320px;
  }
  .bookTitle {
    font-size: 16px;
  }
  .bookDesc {
    font-size: 14px;
  }

  .bookAuthor {
    font-size: 12px;
  }

  .bookUploader {
    font-size: 12px;
  }

  .bookLink {
    font-size: 12px;
  }

  .agotime {
    font-size: 12px;
  }
  .bookButtons {
    margin-bottom: 10px;
  }
  .totalBooks {
    font-size: 16px;
  }
}

/* Media Query for 320px */
@media (max-width: 320px) {
  .book-container {
    max-width: 280px;
  }
  .book {
    flex-direction: column;
    width: 100%;
  }

  .book:nth-child(2n) {
    flex-direction: column;
  }

  .cover {
    height: 320px;
  }

  img {
    height: 320px;
    background-size: cover;
  }

  .bookInfo {
    height: 320px;
  }
  .bookTitle {
    font-size: 16px;
  }
  .bookDesc {
    font-size: 14px;
  }

  .bookAuthor {
    font-size: 12px;
  }

  .bookUploader {
    font-size: 12px;
  }

  .bookLink {
    font-size: 12px;
  }
  .bookButtons {
    margin-bottom: 10px;
  }
  .totalBooks {
    font-size: 14px;
  }
}
