.userMenu {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menuIcon {
  font-size: 28px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menuIcon:hover,
.userlink:hover {
  color: lightgreen;
}

.menuItems {
  position: absolute;
  top: 65px;
  left: -90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: teal;
  border-radius: 5px;
  gap: 10px;
  padding: 10px 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.userlink {
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
  color: white;
  border: none;
  background-color: teal;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .userMenu {
    width: 40px;
  }
  .menuIcon {
    font-size: 24px;
  }

  .userlink {
    font-size: 20px;
  }
  .menuItems {
    top: 60px;
    left: -80px;
  }
}

@media (max-width: 768px) {
  .userMenu {
    width: 30px;
  }
  .menuIcon {
    font-size: 20px;
  }

  .userlink {
    font-size: 16px;
  }
  .menuItems {
    top: 60px;
    left: -70px;
  }
}

@media (max-width: 480px) {
  .userMenu {
    width: 20px;
  }
  .menuIcon {
    font-size: 16px;
  }
  .userlink {
    font-size: 12px;
  }
  .menuItems {
    top: 45px;
    left: -60px;
  }
}
